<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!--<system.serviceModel>

        <services>
            <service name="FaceTest.Service1">
              <endpoint address="" binding="webHttpBinding" contract="FaceTest.IService1" behaviorConfiguration="WebBehavior">
                <identity>
                  <dns value="localhost" />
                </identity>
              </endpoint>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/FaceTest/Service1/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
      <behaviors>
        <endpointBehaviors>
          <behavior name="WebBehavior">
            <webHttp />
          </behavior>
        </endpointBehaviors>
        <serviceBehaviors>
          <behavior name="ServiceQueryBehavior">
            <serviceMetadata httpGetEnabled="true" />
            <serviceDebug includeExceptionDetailInFaults="false" />
          </behavior>
        </serviceBehaviors>
      </behaviors>
      
    </system.serviceModel>-->
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="FaceTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup><userSettings>
        <FaceTest.Properties.Settings>
            <setting name="tb_Path" serializeAs="String">
                <value>FacePicTest2</value>
            </setting>
            <setting name="tb_Url" serializeAs="String">
                <value>http://192.168.8.101:8090</value>
            </setting>
            <setting name="tb_Pass" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="tb_CallBackVerifyUrl" serializeAs="String">
                <value>http://192.168.8.100:8091/VerifyHandler.ashx</value>
            </setting>
            <setting name="tb_CallBackUrl" serializeAs="String">
                <value>http://192.168.8.100:8091/Handler.ashx</value>
            </setting>
            <setting name="bt_GetApkVersion" serializeAs="String">
                <value>http://192.168.8.100:8091/GetUpdate.ashx</value>
            </setting>
            <setting name="tb_DownApkUrl" serializeAs="String">
                <value>http://192.168.8.100:8091/HeartBeat.ashx</value>
            </setting>
            <setting name="tb_SetPassTime_UserId" serializeAs="String">
                <value>zhp</value>
            </setting>
            <setting name="tb_SetPassTime_PassTimeName" serializeAs="String">
                <value>住宿生</value>
            </setting>
            <setting name="tb_HeartBeatUrl" serializeAs="String">
                <value>http://192.168.8.100:8091/HeartBeat.ashx</value>
            </setting>
            <setting name="tb_DeletePassTimeName" serializeAs="String">
                <value>住宿生</value>
            </setting>
        </FaceTest.Properties.Settings>
    </userSettings>
</configuration>
