<?xml version="1.0" encoding="utf-8"?>
<configuration>
    
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="FaceTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <userSettings>
        <FaceTest.Properties.Settings>
              <setting name="tb_Path" serializeAs="String">
                    <value>_</value>
              </setting>
              <setting name="tb_Url" serializeAs="String">
                    <value>http://192.168.8.101:8090</value>
              </setting>
              <setting name="tb_Pass" serializeAs="String">
                    <value>123</value>
              </setting>
              <setting name="tb_CallBackVerifyUrl" serializeAs="String">
                    <value>http://192.168.8.100:8091/VerifyHandler.ashx</value>
              </setting>
              <setting name="tb_CallBackUrl" serializeAs="String">
                    <value>http://192.168.8.100:8091/Handler.ashx</value>
              </setting>
              <setting name="bt_GetApkVersion" serializeAs="String">
                    <value>http://192.168.8.100:8091/GetUpdate.ashx</value>
              </setting>
              <setting name="tb_DownApkUrl" serializeAs="String">
                    <value>http://192.168.8.100:8091/GetApkFile.ashx</value>
              </setting>
              <setting name="tb_SetPassTime_UserId" serializeAs="String">
                    <value>zhp</value>
              </setting>
              <setting name="tb_SetPassTime_PassTimeName" serializeAs="String">
                    <value>住宿生</value>
              </setting>
              <setting name="tb_HeartBeatUrl" serializeAs="String">
                    <value>http://192.168.8.100:8091/HeartBeat.ashx</value>
              </setting>
              <setting name="tb_DeletePassTimeName" serializeAs="String">
                    <value>住宿生</value>
              </setting>
              <setting name="tb_PersonAddOrUpdate_PersonId" serializeAs="String">
                    <value>zhp</value>
              </setting>
              <setting name="tb_PersonAddOrUpdate_PersonName" serializeAs="String">
                    <value>张洪鹏</value>
              </setting>
              <setting name="tb_PersonDelete_PersonId" serializeAs="String">
                    <value>zhp</value>
              </setting>
              <setting name="tb_PersonFind_PersonId" serializeAs="String">
                    <value>1_1_0</value>
              </setting>
              <setting name="tb_FaceDelete_FaceId" serializeAs="String">
                    <value>1_1_0</value>
              </setting>
              <setting name="tb_FaceAddOrUpdate_PersonId" serializeAs="String">
                    <value>zhp</value>
              </setting>
              <setting name="tb_FaceAddOrUpdate_PersonName" serializeAs="String">
                    <value>zhp</value>
              </setting>
              <setting name="tb_FaceFind_FaceId" serializeAs="String">
                    <value>1_1_0</value>
              </setting>
              <setting name="tb_CallBackUrl_His" serializeAs="String">
                    <value>http://192.168.8.100:8091/Handler_His.ashx</value>
              </setting>
              <setting name="tb_SplitChar" serializeAs="String">
                    <value>_</value>
              </setting>
              <setting name="tb_devRunLogUrl" serializeAs="String">
                    <value>http://192.168.8.100:8091/DevRunLog.ashx</value>
              </setting>
              <setting name="tb_PersonAddOrUpdate_CardNo" serializeAs="String">
                    <value>12345678</value>
              </setting>
        </FaceTest.Properties.Settings>
    </userSettings>
</configuration>
